<div class="bg-white rounded-2xl shadow-md hover:shadow-xl transition-shadow duration-300">
    <a href="{{ url_for('movie.movie_detail', movie_id=movie.id) }}">
        {% if movie.poster_url %}
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="w-full h-60 object-cover">
        {% endif %}
        <div class="p-2">

            <div class="text-lg font-semibold text-blue-600 hover:underline">
                {{ movie.title }}
            </div>

            <p class="text-sm text-gray-500 mt-1">Thể loại: {{ movie.genre or 'Đang cập nhật' }}</p>
            <p class="text-sm text-gray-500">Thời lượng: {{ movie.duration }} phút</p>
            <p class="text-sm text-gray-500">Khởi chiếu: {{ movie.release_date.strftime('%d/%m/%Y') if
                movie.release_date else 'Chưa rõ' }}</p>
            <p class="text-sm text-gray-500">Đạo diễn: {{ movie.director or 'Chưa cập nhật' }}</p>
            <p class="text-sm text-gray-500">Độ tuổi: {{ movie.rated or 'Không giới hạn' }}</p>
            <p class="text-sm text-gray-500 mt-1 italic">Xem chi tiết &rarr;</p>
        </div>
    </a>
</div>