{# templates/components/movie_detail_section.html #}
<div class="flex flex-col md:flex-row text-white">
    <!-- Poster -->
    <div class="md:w-1/3 mb-4 md:mb-0 flex justify-center items-center">
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="h-[400px] ">
    </div>

    <!-- Movie Info -->
    <div class="md:ml-6 md:w-2/3 ">
        <h2 class="text-3xl font-bold  mb-2">{{ movie.title }}</h2>
        <p class=" mb-4">{{ movie.description }}</p>

        <ul class=" text-white space-y-1 mb-6">
            <li><strong>Thể loại:</strong> {{ movie.genre }}</li>
            <li><strong>Thời lượng:</strong> {{ movie.duration }} phút</li>
            <li><strong>Ngày phát hành:</strong> {{ movie.release_date.strftime('%d/%m/%Y') }}</li>
            <li><strong>Đạo diễn:</strong> {{ movie.director }}</li>
            <li><strong>Diễn viên:</strong> {{ movie.actors }}</li>
            <li><strong>Ngôn ngữ:</strong> {{ movie.language }}</li>
            <li><strong>Phân loại:</strong> {{ movie.rated }}</li>
        </ul>

        {% if movie.trailer_url %}
        <a href="{{ movie.trailer_url }}" target="_blank"
            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
            <i class="fa-solid fa-play me-1"></i>
            Xem Trailer
        </a>
        {% endif %}
    </div>
</div>