<div
  class="bg-card rounded-lg overflow-hidden border border-border group hover:border-primary/50 transition-colors"
>
  <div class="p-4">
    <h3 class="font-bold mb-1">{{ cinema.name }}</h3>
    <p class="text-sm text-white/70 mb-3">{{ cinema.location }}</p>
    <a
      href="{{ showtimes_link }}"
      class="block text-center text-sm font-medium text-white bg-primary hover:bg-primary/90 border border-primary rounded-lg px-4 py-2 transition-colors duration-200 shadow-sm"
    >
      Xem các suất chiếu
    </a>
  </div>
</div>
