<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phim Ảnh</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="p-4 mb-4 text-sm text-white bg-{{ 'green' if category == 'success' else 'red' }}-500 rounded-lg">
          {{ message }}
        </div>
      {% endfor %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
